body{
    background-color: rgba(220, 220, 220, 0.185);
}
td{
    border: 1px solid rgb(4, 4, 77);
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
table{
border-collapse: collapse;
background-color:rgb(39, 38, 49);
color: white;
}